@import url('variables/typescale.css');
@import url('misc/media-queries.css');
@import url('reset.css');
@import url('fonts.css');
@import url('colors.css');
@import url('variables.css');

@import url('classes/typeset.css');
@import url('classes/padding.css');
@import url('classes/stack.css');

@import url('grid.css');
@import url('misc/prism.css');

html {
  background-color: var(--color-background);
  color: var(--color-text);
  caret-color: var(--color-primary);
}

@media (--no-reduced-motion) {
  html {
    scroll-behavior: smooth;
  }
}

html {
  --scrollbar-foreground: var(--gray-800);
  --scrollbar-background: var(--gray-1000);
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 5px; /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

pre {
  width: 100%;
}
table,
pre {
  width: 100%;
  max-width: 90vw;
  overflow-x: scroll;
}

html {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;

  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: max-content;
  overscroll-behavior-x: none;
  font-size: var(--step-0);
}

/* :is(h1, h2, h3, h4, h5, h6, blockquote) {
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.03em;
} */

a {
  color: inherit;
  text-decoration-color: transparent;
  transition:
    color linear 0.15s,
    text-decoration linear 0.15s;
}

/* A elements that don't have a class get default styles */
a:not([class]),
.link {
  text-decoration-skip-ink: auto;
  /* color: var(--primary-200, currentColor); */
  text-decoration-color: var(--secondary-600);
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.15em;
  font-weight: 500;
  outline-offset: var(--space-xs);
  outline-color: transparent;
}

a:not([class]):hover {
  color: var(--color-text);
  text-decoration-color: var(--secondary-500);
}

:focus-visible {
  outline: 3px solid var(--jb-focus-color);
  outline-offset: var(--jb-focus-offset);
  border-radius: 12px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

hr {
  --background-pattern: url('data:image/svg+xml;utf8,<svg width="4" height="4" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h1v1H0z" fill="%23fff" fill-rule="evenodd"/></svg>');
  width: 100%;
  padding: 0;
  border: 0;
  height: var(--space-s);
  margin: var(--space-m) auto;
  /* background-image: var(--background-pattern); */
  background-image: radial-gradient(var(--_input-shadow) 1px, transparent 1px);
  background-repeat: repeat;
  background-color: var(--gray-200);
}

code {
  font-family: var(--font-monospace);
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
  position: relative;
  display: inline;
  border-radius: var(--radius-2);
  -webkit-box-decoration-break: clone;
}

pre:where(.astro-code) {
  white-space: pre !important;
}

pre code {
  background-color: transparent;
}

p code {
  background-color: var(--primary-900);
  color: var(--primary-200);
  border: 2px solid #ccc3;
  font-size: calc(1em - 2px);
  padding: 2px var(--space-3xs);
  margin: -1px;
  display: inline;
}

pre {
  margin-block: var(--space-s);
  background: var(--gray-200);
  padding: var(--space-s);
  border-radius: var(--radius-3);
}

pre code {
  padding: 0;
}

blockquote {
  border-left: 4px solid currentColor;
  /* color: var(--secondary-700); */
  background: var(--gray-50);
  font-size: var(--step-1);
  margin: var(--space-s) 0;
  padding-block: var(--space-xs);
  padding-inline: var(--space-m);
  p {
    margin: 0;
  }
}

:where(.u-grid) blockquote {
  grid-column: 2 / span 10;
  @media (--small) {
    grid-column: 1 / -1;
  }
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 var(--space-xl);
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
