.u-container {
  width: 100%;
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: 0 var(--grid-gutter);
  grid-template-columns: repeat(12, 1fr);
}

/* PostCSS media queries */
:where(.u-grid) > * {
  grid-column: 3 / span 7;
}

@media (--small) {
  :where(.u-grid) > * {
    grid-column: 2 / span 11;
  }
}
