.u-container {
  width: 100%;
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: 0 var(--grid-gutter);
  grid-template-columns: repeat(12, 1fr);
}

.u-grid[data-space="m"] {
  gap: var(--space-m) var(--grid-gutter);
}

:where(.u-grid) > * {
  grid-column: 2 / -1;
  @media (--desktop) {
    grid-column: 5 / span 7;
  }
}

:where(.u-grid) .u-full {
  grid-column: 1 / -1;
}
