:root[data-theme="light"] {
  --color-text: hsl(213, 44%, 5%);
  --color-background: hsl(209, 41%, 90%);
  --color-primary: hsl(29, 43%, 59%);
  --color-secondary: hsl(208, 42%, 94%);
  --color-accent: hsl(29, 43%, 54%);
}
:root[data-theme="dark"] {
  --color-text: var(--primary-100);
  /* --color-text: #eaecdf; */
  --color-background: var(--primary-900);
  --color-primary: var(--primary-300);
  --color-secondary: var(--secondary-300);
  --color-accent: var(--tertiary-300);
}
/*  color rgb(255, 252, 225) */
/* rgb(14, 16, 15) */

:root {
  --primary-color: oklch(52.94% 0.302 291);
  --radius-1: 0.15rem;
  --radius-2: 0.5rem;
  --radius-3: 0.75rem;

  --font-monospace: "Berkeley-Mono", monospace;
}

:root {
  --hue-primary: 300;
  --primary-100: oklch(99% 0.05 var(--hue-primary));
  --primary-200: oklch(90% 0.1 var(--hue-primary));
  --primary-300: oklch(80% 0.2 var(--hue-primary));
  --primary-400: oklch(72% 0.25 var(--hue-primary));
  --primary-500: oklch(67% 0.31 var(--hue-primary));
  --primary-600: oklch(50% 0.27 var(--hue-primary));
  --primary-700: oklch(35% 0.25 var(--hue-primary));
  --primary-800: oklch(25% 0.2 var(--hue-primary));
  --primary-900: oklch(9% 0.2 var(--hue-primary));
  --primary-1000: oklch(5% 0.1 var(--hue-primary));

  --hue-secondary: 270;
  --secondary-100: oklch(99% 0.05 var(--hue-secondary));
  --secondary-200: oklch(90% 0.1 var(--hue-secondary));
  --secondary-300: oklch(80% 0.2 var(--hue-secondary));
  --secondary-400: oklch(72% 0.25 var(--hue-secondary));
  --secondary-500: oklch(67% 0.31 var(--hue-secondary));
  --secondary-600: oklch(50% 0.27 var(--hue-secondary));
  --secondary-700: oklch(35% 0.25 var(--hue-secondary));
  --secondary-800: oklch(25% 0.2 var(--hue-secondary));
  --secondary-900: oklch(9% 0.2 var(--hue-secondary));
  --secondary-1000: oklch(5% 0.1 var(--hue-secondary));

  --hue-tertiary: 170;
  --tertiary-100: oklch(99% 0.05 var(--hue-tertiary));
  --tertiary-200: oklch(90% 0.1 var(--hue-tertiary));
  --tertiary-300: oklch(80% 0.2 var(--hue-tertiary));
  --tertiary-400: oklch(72% 0.25 var(--hue-tertiary));
  --tertiary-500: oklch(67% 0.31 var(--hue-tertiary));
  --tertiary-600: oklch(50% 0.27 var(--hue-tertiary));
  --tertiary-700: oklch(35% 0.25 var(--hue-tertiary));
  --tertiary-800: oklch(25% 0.2 var(--hue-tertiary));
  --tertiary-900: oklch(9% 0.2 var(--hue-tertiary));
  --tertiary-1000: oklch(5% 0.1 var(--hue-tertiary));

  --text-1: var(--tertiary-100);
  --text-2: var(--tertiary-200);
  --surface-1: var(--tertiary-1000);
  --surface-2: var(--tertiary-900);
  --surface-3: var(--tertiary-800);
}

/* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1240,22,1.25,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step -3: 8.10px → 11.26px */
  --step--3: clamp(0.51rem, calc(0.44rem + 0.34vw), 0.7rem);

  /* Step -2: 9.72px → 14.08px */
  --step--2: clamp(0.61rem, calc(0.51rem + 0.47vw), 0.88rem);

  /* Step -1: 11.67px → 17.60px */
  --step--1: clamp(0.73rem, calc(0.6rem + 0.64vw), 1.1rem);

  /* Step 0: 14.00px → 22.00px */
  --step-0: clamp(0.88rem, calc(0.7rem + 0.87vw), 1.38rem);

  /* Step 1: 16.80px → 27.50px */
  --step-1: clamp(1.05rem, calc(0.82rem + 1.16vw), 1.72rem);

  /* Step 2: 20.16px → 34.38px */
  --step-2: clamp(1.26rem, calc(0.95rem + 1.55vw), 2.15rem);

  /* Step 3: 24.19px → 42.97px */
  --step-3: clamp(1.51rem, calc(1.1rem + 2.04vw), 2.69rem);

  /* Step 4: 29.03px → 53.71px */
  --step-4: clamp(1.81rem, calc(1.28rem + 2.68vw), 3.36rem);

  /* Step 5: 34.84px → 67.14px */
  --step-5: clamp(2.18rem, calc(1.48rem + 3.51vw), 4.2rem);

  --step--3: clamp(0.7025rem, 0.702rem + 0.0023vw, 0.7038rem);
  --step--2: clamp(0.79rem, 0.7532rem + 0.1636vw, 0.88rem);
  --step--1: clamp(0.8888rem, 0.8023rem + 0.3841vw, 1.1rem);
  --step-0: clamp(1rem, 0.8466rem + 0.6818vw, 1.375rem);
  --step-1: clamp(1.125rem, 0.8821rem + 1.0795vw, 1.7188rem);
  --step-2: clamp(1.2656rem, 0.9043rem + 1.6057vw, 2.1488rem);
  --step-3: clamp(1.4238rem, 0.9075rem + 2.2943vw, 2.6856rem);
  --step-4: clamp(1.6019rem, 0.8839rem + 3.1909vw, 3.3569rem);
  --step-5: clamp(1.8019rem, 0.8224rem + 4.3534vw, 4.1963rem);
}

:root {
  --space-3xs: clamp(0.25rem, calc(0.21rem + 0.22vw), 0.38rem);
  --space-2xs: clamp(0.44rem, calc(0.35rem + 0.43vw), 0.69rem);
  --space-xs: clamp(0.69rem, calc(0.56rem + 0.65vw), 1.06rem);
  --space-s: clamp(0.88rem, calc(0.7rem + 0.87vw), 1.38rem);
  --space-m: clamp(1.31rem, calc(1.05rem + 1.3vw), 2.06rem);
  --space-l: clamp(1.75rem, calc(1.4rem + 1.74vw), 2.75rem);
  --space-xl: clamp(2.63rem, calc(2.1rem + 2.61vw), 4.13rem);
  --space-2xl: clamp(3.5rem, calc(2.8rem + 3.48vw), 5.5rem);
  --space-3xl: clamp(5.25rem, calc(4.21rem + 5.22vw), 8.25rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.1rem + 0.76vw), 0.69rem);
  --space-2xs-xs: clamp(0.44rem, calc(0.22rem + 1.09vw), 1.06rem);
  --space-xs-s: clamp(0.69rem, calc(0.45rem + 1.2vw), 1.38rem);
  --space-s-m: clamp(0.88rem, calc(0.46rem + 2.07vw), 2.06rem);
  --space-m-l: clamp(1.31rem, calc(0.81rem + 2.5vw), 2.75rem);
  --space-l-xl: clamp(1.75rem, calc(0.92rem + 4.13vw), 4.13rem);
  --space-xl-2xl: clamp(2.63rem, calc(1.63rem + 5vw), 5.5rem);
  --space-2xl-3xl: clamp(3.5rem, calc(1.85rem + 8.26vw), 8.25rem);

  /* Custom pairs */
  --space-s-l: clamp(0.88rem, 0.22rem + 3.26vw, 2.75rem);
}

:root {
  --grid-max-width: 93rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, 0.4345rem + 2.7586vw, 3rem));
  --grid-columns: 12;
}

:root {
  --text-opacity: 1;
  --astro-code-color-text: var(--color-text);
  --astro-code-color-background: transparent;
  --astro-code-token-constant: rgb(45 212 191 / 100%);
  --astro-code-token-constant: color(display-p3 0.38 0.57 1);
  --astro-code-token-string: rgb(253 230 138 / 100%);
  --astro-code-token-comment: rgb(100 116 139 / 100%);
  --astro-code-token-keyword: rgb(248 113 113 / 100%);
  --astro-code-token-keyword: color(display-p3 0.14 0.46 1);
  --astro-code-token-keyword: color(display-p3 0.84 0.64 1);
  --astro-code-token-parameter: #aa0000;
  --astro-code-token-function: rgb(52 211 153 / 100%);
  --astro-code-token-function: color(display-p3 0.87 0.51 0.44);
  --astro-code-token-string-expression: rgb(253 230 138 / 100%);
  --astro-code-token-string-expression: color(display-p3 1 0.72 0.32);
  --astro-code-token-string-expression: color(display-p3 0.21 0.94 0.69);
  --astro-code-token-punctuation: #7e7e7e;
  --astro-code-token-link: #ee0000;
}
