:root {
  --color-text: var(--gray-100);
  --color-background: var(--primary-1000);
  --color-primary: var(--primary-300);
  --color-secondary: var(--secondary-300);
  --color-accent: var(--tertiary-300);
}

:root {
  --radius-1: 0.15rem;
  --radius-2: 0.5rem;
  --radius-3: 0.75rem;
  --font-monospace: "Berkeley-Mono", monospace;
}
:root {
  --hue-primary: 151;
  --hue-shift: 1;
  --hue-shift-initial: 0;

  --l-50: 98%;
  --c-50: 0.02;
  --h-50: 15;

  --l-100: 95%;
  --c-100: 0.05;
  --h-100: 12;

  --l-200: 90%;
  --c-200: 0.09;
  --h-200: 13.13;

  --l-300: 87%;
  --c-300: 0.14;
  --h-300: 2.1;

  --l-400: 80%;
  --c-400: 0.18;
  --h-400: 0;

  --l-500: 72%;
  --c-500: 0.19;
  --h-500: -2.13;

  --l-600: 63%;
  --c-600: 0.17;
  --h-600: -2.5;

  --l-700: 53%;
  --c-700: 0.14;
  --h-700: 1.65;

  --l-800: 45%;
  --c-800: 0.11;
  --h-800: 0.5;

  --l-900: 39%;
  --c-900: 0.1;
  --h-900: 1.5;

  --l-950: 26%;
  --c-950: 0.05;
  --h-950: 20;

  --l-1000: 20%;
  --c-1000: 0.05;
  --h-1000: 25;
}

:root[data-theme="dark"] {
  --hue-angle: 30;
  --hue-angle: 180; /* // green */
  /* --hue-primary: 285; */
  /* --hue-primary: 150;  */ /* // green */
  --primary-50: oklch(
    var(--l-50) var(--c-50) calc(var(--hue-primary) + var(--h-50))
  );
  --primary-100: oklch(
    var(--l-100) var(--c-100) calc(var(--hue-primary) + var(--h-100))
  );

  --primary-200: oklch(
    var(--l-200) var(--c-200) calc(var(--hue-primary) + var(--h-200))
  );

  --primary-300: oklch(
    var(--l-300) var(--c-300) calc(var(--hue-primary) + var(--h-300))
  );

  --primary-400: oklch(
    var(--l-400) var(--c-400) calc(var(--hue-primary) + var(--h-400))
  );

  --primary-500: oklch(
    var(--l-500) var(--c-500) calc(var(--hue-primary) + var(--h-500))
  );

  --primary-600: oklch(
    var(--l-600) var(--c-600) calc(var(--hue-primary) + var(--h-600))
  );

  --primary-700: oklch(
    var(--l-700) var(--c-700) calc(var(--hue-primary) + var(--h-700))
  );

  --primary-800: oklch(
    var(--l-800) var(--c-800) calc(var(--hue-primary) + var(--h-800))
  );

  --primary-900: oklch(
    var(--l-900) var(--c-900) calc(var(--hue-primary) + var(--h-900))
  );

  --primary-950: oklch(
    var(--l-950) var(--c-950) calc(var(--hue-primary) + var(--h-950))
  );

  --primary-1000: oklch(
    var(--l-1000) var(--c-1000) calc(var(--hue-primary) + var(--h-1000))
  );

  --hue-secondary: 270;
  --hue-secondary: calc((180 + var(--hue-primary)) - (var(--hue-angle) / 2));
  --secondary-50: oklch(var(--l-50) var(--c-50) var(--hue-secondary));
  --secondary-100: oklch(var(--l-100) var(--c-100) var(--hue-secondary));

  --secondary-200: oklch(var(--l-200) var(--c-200) var(--hue-secondary));

  --secondary-300: oklch(var(--l-300) var(--c-300) var(--hue-secondary));

  --secondary-400: oklch(var(--l-400) var(--c-400) var(--hue-secondary));

  --secondary-500: oklch(var(--l-500) var(--c-500) var(--hue-secondary));

  --secondary-600: oklch(var(--l-600) var(--c-600) var(--hue-secondary));

  --secondary-700: oklch(var(--l-700) var(--c-700) var(--hue-secondary));

  --secondary-800: oklch(var(--l-800) var(--c-800) var(--hue-secondary));

  --secondary-900: oklch(var(--l-900) var(--c-900) var(--hue-secondary));

  --secondary-950: oklch(var(--l-950) var(--c-950) var(--hue-secondary));

  --secondary-1000: oklch(var(--l-1000) var(--c-1000) var(--hue-secondary));

  --hue-tertiary: 170;
  --hue-tertiary: calc((180 + var(--hue-primary)) + (var(--hue-angle) / 2));
  --tertiary-50: oklch(var(--l-50) var(--c-50) var(--hue-tertiary));
  --tertiary-100: oklch(var(--l-100) var(--c-100) var(--hue-tertiary));

  --tertiary-200: oklch(var(--l-200) var(--c-200) var(--hue-tertiary));

  --tertiary-300: oklch(var(--l-300) var(--c-300) var(--hue-tertiary));

  --tertiary-400: oklch(var(--l-400) var(--c-400) var(--hue-tertiary));

  --tertiary-500: oklch(var(--l-500) var(--c-500) var(--hue-tertiary));

  --tertiary-600: oklch(var(--l-600) var(--c-600) var(--hue-tertiary));

  --tertiary-700: oklch(var(--l-700) var(--c-700) var(--hue-tertiary));

  --tertiary-800: oklch(var(--l-800) var(--c-800) var(--hue-tertiary));

  --tertiary-900: oklch(var(--l-900) var(--c-900) var(--hue-tertiary));

  --tertiary-950: oklch(var(--l-950) var(--c-950) var(--hue-tertiary));

  --tertiary-1000: oklch(var(--l-1000) var(--c-1000) var(--hue-tertiary));

  --gray-follows-primary: var(--hue-primary);
  --gray-multiplier: 0.2;
  --gray-50: oklch(
    var(--l-50) calc(var(--c-50) * var(--gray-multiplier))
      var(--gray-follows-primary)
  );
  --gray-100: oklch(
    var(--l-100) calc(var(--c-100) * var(--gray-multiplier))
      var(--gray-follows-primary)
  );
  --gray-200: oklch(
    var(--l-200) calc(var(--c-200) * var(--gray-multiplier))
      var(--gray-follows-primary)
  );
  --gray-300: oklch(
    var(--l-300) calc(var(--c-300) * var(--gray-multiplier))
      var(--gray-follows-primary)
  );
  --gray-400: oklch(
    var(--l-400) calc(var(--c-400) * var(--gray-multiplier))
      var(--gray-follows-primary)
  );
  --gray-500: oklch(
    var(--l-500) calc(var(--c-500) * var(--gray-multiplier))
      var(--gray-follows-primary)
  );
  --gray-600: oklch(
    var(--l-600) calc(var(--c-600) * var(--gray-multiplier))
      var(--gray-follows-primary)
  );
  --gray-700: oklch(
    var(--l-700) calc(var(--c-700) * var(--gray-multiplier))
      var(--gray-follows-primary)
  );
  --gray-800: oklch(
    var(--l-800) calc(var(--c-800) * var(--gray-multiplier))
      var(--gray-follows-primary)
  );
  --gray-900: oklch(
    var(--l-900) calc(var(--c-900) * var(--gray-multiplier))
      var(--gray-follows-primary)
  );
  --gray-950: oklch(
    var(--l-950) calc(var(--c-950) * var(--gray-multiplier))
      var(--gray-follows-primary)
  );
  --gray-1000: oklch(var(--l-1000) var(--c-1000) var(--gray-follows-primary));
  /* --gray-follows-hue: var(--hue-primary);
  --gray-100: oklch(99% 0.005 var(--gray-follows-hue));
  --gray-200: oklch(90% 0.01 var(--gray-follows-hue));
  --gray-300: oklch(80% 0.02 var(--gray-follows-hue));
  --gray-400: oklch(72% 0.025 var(--gray-follows-hue));
  --gray-500: oklch(67% 0.031 var(--gray-follows-hue));
  --gray-600: oklch(50% 0.027 var(--gray-follows-hue));
  --gray-700: oklch(35% 0.025 var(--gray-follows-hue));
  --gray-800: oklch(25% 0.02 var(--gray-follows-hue));
  --gray-900: oklch(15% 0.02 var(--gray-follows-hue));
  --gray-950: oklch(15% 0.02 var(--gray-follows-hue));
  --gray-1000: oklch(5% 0.01 var(--gray-follows-hue)); */
}

:root[data-theme="light"] {
  --hue-angle: 60;
  --hue-primary: 300;
  --hue-primary: 230;
  --primary-1000: oklch(99% 0.05 var(--hue-primary));
  --primary-900: oklch(90% 0.1 var(--hue-primary));
  --primary-800: oklch(80% 0.2 var(--hue-primary));
  --primary-700: oklch(72% 0.25 var(--hue-primary));
  --primary-600: oklch(67% 0.31 var(--hue-primary));
  --primary-500: oklch(50% 0.27 var(--hue-primary));
  --primary-400: oklch(35% 0.25 var(--hue-primary));
  --primary-300: oklch(25% 0.2 var(--hue-primary));
  --primary-200: oklch(9% 0.2 var(--hue-primary));
  --primary-100: oklch(5% 0.1 var(--hue-primary));

  --hue-secondary: 270;
  --hue-secondary: calc((180 + var(--hue-primary)) - (var(--hue-angle) / 2));
  --secondary-1000: oklch(99% 0.05 var(--hue-secondary));
  --secondary-900: oklch(90% 0.1 var(--hue-secondary));
  --secondary-800: oklch(80% 0.2 var(--hue-secondary));
  --secondary-700: oklch(72% 0.25 var(--hue-secondary));
  --secondary-600: oklch(67% 0.31 var(--hue-secondary));
  --secondary-500: oklch(50% 0.27 var(--hue-secondary));
  --secondary-400: oklch(35% 0.25 var(--hue-secondary));
  --secondary-300: oklch(25% 0.2 var(--hue-secondary));
  --secondary-200: oklch(9% 0.2 var(--hue-secondary));
  --secondary-100: oklch(5% 0 var(--hue-secondary));

  --hue-tertiary: 170;
  --hue-tertiary: calc((180 + var(--hue-primary)) + (var(--angle) / 2));
  --tertiary-1000: oklch(99% 0.05 var(--hue-tertiary));
  --tertiary-900: oklch(90% 0.1 var(--hue-tertiary));
  --tertiary-800: oklch(80% 0.2 var(--hue-tertiary));
  --tertiary-700: oklch(72% 0.25 var(--hue-tertiary));
  --tertiary-600: oklch(67% 0.31 var(--hue-tertiary));
  --tertiary-500: oklch(50% 0.27 var(--hue-tertiary));
  --tertiary-400: oklch(35% 0.25 var(--hue-tertiary));
  --tertiary-300: oklch(25% 0.2 var(--hue-tertiary));
  --tertiary-200: oklch(9% 0.2 var(--hue-tertiary));
  --tertiary-100: oklch(5% 0.1 var(--hue-tertiary));

  --gray-follows-hue: var(--hue-primary);
  --gray-1000: oklch(99% 0.005 var(--gray-follows-hue));
  --gray-900: oklch(90% 0.01 var(--gray-follows-hue));
  --gray-800: oklch(80% 0.02 var(--gray-follows-hue));
  --gray-700: oklch(72% 0.025 var(--gray-follows-hue));
  --gray-600: oklch(67% 0.031 var(--gray-follows-hue));
  --gray-500: oklch(50% 0.027 var(--gray-follows-hue));
  --gray-400: oklch(35% 0.025 var(--gray-follows-hue));
  --gray-300: oklch(25% 0.02 var(--gray-follows-hue));
  --gray-200: oklch(9% 0.02 var(--gray-follows-hue));
  --gray-100: oklch(5% 0.01 var(--gray-follows-hue));
}
/*  --text-1: var(--tertiary-100);
 --text-2: var(--tertiary-200);
 --surface-1: var(--tertiary-1000);
 --surface-2: var(--tertiary-900);
 --surface-3: var(--tertiary-800); */

/* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1240,22,1.25,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step -3: 8.10px → 11.26px */
  --step--3: clamp(0.51rem, calc(0.44rem + 0.34vw), 0.7rem);

  /* Step -2: 9.72px → 14.08px */
  --step--2: clamp(0.61rem, calc(0.51rem + 0.47vw), 0.88rem);

  /* Step -1: 11.67px → 17.60px */
  --step--1: clamp(0.73rem, calc(0.6rem + 0.64vw), 1.1rem);

  /* Step 0: 14.00px → 22.00px */
  --step-0: clamp(0.88rem, calc(0.7rem + 0.87vw), 1.38rem);

  /* Step 1: 16.80px → 27.50px */
  --step-1: clamp(1.05rem, calc(0.82rem + 1.16vw), 1.72rem);

  /* Step 2: 20.16px → 34.38px */
  --step-2: clamp(1.26rem, calc(0.95rem + 1.55vw), 2.15rem);

  /* Step 3: 24.19px → 42.97px */
  --step-3: clamp(1.51rem, calc(1.1rem + 2.04vw), 2.69rem);

  /* Step 4: 29.03px → 53.71px */
  --step-4: clamp(1.81rem, calc(1.28rem + 2.68vw), 3.36rem);

  /* Step 5: 34.84px → 67.14px */
  --step-5: clamp(2.18rem, calc(1.48rem + 3.51vw), 4.2rem);

  --step--3: clamp(0.7025rem, 0.702rem + 0.0023vw, 0.7038rem);
  --step--2: clamp(0.79rem, 0.7532rem + 0.1636vw, 0.88rem);
  --step--1: clamp(0.8888rem, 0.8023rem + 0.3841vw, 1.1rem);
  --step-0: clamp(1rem, 0.8466rem + 0.6818vw, 1.375rem);
  --step-1: clamp(1.125rem, 0.8821rem + 1.0795vw, 1.7188rem);
  --step-2: clamp(1.2656rem, 0.9043rem + 1.6057vw, 2.1488rem);
  --step-3: clamp(1.4238rem, 0.9075rem + 2.2943vw, 2.6856rem);
  --step-4: clamp(1.6019rem, 0.8839rem + 3.1909vw, 3.3569rem);
  --step-5: clamp(1.8019rem, 0.8224rem + 4.3534vw, 4.1963rem);
}

:root {
  --space-3xs: clamp(0.25rem, calc(0.21rem + 0.22vw), 0.38rem);
  --space-2xs: clamp(0.44rem, calc(0.35rem + 0.43vw), 0.69rem);
  --space-xs: clamp(0.69rem, calc(0.56rem + 0.65vw), 1.06rem);
  --space-s: clamp(0.88rem, calc(0.7rem + 0.87vw), 1.38rem);
  --space-m: clamp(1.31rem, calc(1.05rem + 1.3vw), 2.06rem);
  --space-l: clamp(1.75rem, calc(1.4rem + 1.74vw), 2.75rem);
  --space-xl: clamp(2.63rem, calc(2.1rem + 2.61vw), 4.13rem);
  --space-2xl: clamp(3.5rem, calc(2.8rem + 3.48vw), 5.5rem);
  --space-3xl: clamp(5.25rem, calc(4.21rem + 5.22vw), 8.25rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.1rem + 0.76vw), 0.69rem);
  --space-2xs-xs: clamp(0.44rem, calc(0.22rem + 1.09vw), 1.06rem);
  --space-xs-s: clamp(0.69rem, calc(0.45rem + 1.2vw), 1.38rem);
  --space-s-m: clamp(0.88rem, calc(0.46rem + 2.07vw), 2.06rem);
  --space-m-l: clamp(1.31rem, calc(0.81rem + 2.5vw), 2.75rem);
  --space-l-xl: clamp(1.75rem, calc(0.92rem + 4.13vw), 4.13rem);
  --space-xl-2xl: clamp(2.63rem, calc(1.63rem + 5vw), 5.5rem);
  --space-2xl-3xl: clamp(3.5rem, calc(1.85rem + 8.26vw), 8.25rem);

  /* Custom pairs */
  --space-s-l: clamp(0.88rem, 0.22rem + 3.26vw, 2.75rem);
}

:root {
  --grid-max-width: 93rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, 0.4345rem + 2.7586vw, 3rem));
  --grid-columns: 12;
}

:root {
  --text-opacity: 1;
  --astro-code-color-text: var(--color-text);
  --astro-code-color-background: linear-gradient(
    160deg,
    var(--primary-900),
    var(--primary-1000)
  );
  --astro-code-color-border: var(--primary-800);

  --astro-code-token-string: rgb(253 230 138 / 100%);
  --astro-code-token-comment: var(--gray-300);

  --astro-code-token-parameter: #aa0000;
  --astro-code-token-punctuation: var(--gray-500);
  --astro-code-token-link: #ee0000;

  /* themed */
  --astro-code-token-constant: var(--tertiary-300);
  --astro-code-token-keyword: var(--primary-400);
  --astro-code-token-function: var(--secondary-400);
  --astro-code-token-string-expression: var(--tertiary-200);
}
