---
import Flex from '@components/utility/Flex.astro';
import Controls from './Controls.astro';
import InputRange from './InputRange.astro';
---

<Controls>
  <bind-input-css variable="--primary-color-origin">
    <label for="color">Color</label>

    <input id="color" type="color" name="primary-color-origin" />
  </bind-input-css>

  <!-- <bind-input-css variable="--hue-primary">
    <InputRange title="Hue Primary" name="hue-primary" min={0} max={360} />
  </bind-input-css> -->

  <bind-input-css variable="--hue-angle">
    <InputRange title="Distance" name="hue-angle" min={0} max={360} />
  </bind-input-css>
  <bind-input-css variable="--gray-multiplier">
    <InputRange title="Gray chroma" name="gray-multiplier" min={0} max={1} step={0.1} />
  </bind-input-css>

  <div slot="decoration">
    <div class="wheel">
      <div class="wheel-indicator"></div>
      <div class="wheel-point" data-hue="primary"></div>
      <div class="wheel-point" data-hue="secondary"></div>
      <div class="wheel-point" data-hue="tertiary"></div>
    </div>
  </div>
</Controls>

<style>
  .wheel {
    --_size: 3.5rem;
    --_point-size: 2ch;
    @container controls (width < 700px) {
      --_size: 5rem;
      --_point-size: 1rem;
      align-self: center;
    }
    display: block;
    width: var(--_size);
    height: var(--_size);
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px var(--_point-size) var(--gray-200);
    position: relative;
  }

  .wheel-point {
    --angle: calc(var(--hue-primary) * 1deg);
    --point-size: var(--_point-size);
    --radius: calc((var(--_size) / 2) - (var(--point-size) / 2));
    --x: calc(var(--radius) * cos(var(--angle)));
    --y: calc(var(--radius) * sin(var(--angle)));

    position: absolute;
    transform: translateX(calc(var(--radius) + var(--x))) translateY(calc(var(--radius) + var(--y)));
    background-color: var(--_color, currentColor);
    width: var(--point-size);
    height: var(--point-size);
    border-radius: 50%;
    /* box-shadow: 1px 1px 0px 0px var(--jb-box-shadow-color); */
    border: 2px solid var(--jb-box-shadow-color);
  }

  .wheel-point[data-hue='primary'] {
    --angle: calc(var(--hue-primary) * 1deg);
    --_color: var(--primary-400);
  }
  .wheel-point[data-hue='secondary'] {
    --angle: calc(var(--hue-secondary) * 1deg);
    --_color: var(--secondary-400);
  }
  .wheel-point[data-hue='tertiary'] {
    --angle: calc(var(--hue-tertiary) * 1deg);
    --_color: var(--tertiary-400);
  }
</style>

<script>
  import '../../web-components/bind-input-css';
</script>
