---
const today = new Date();
---

<footer>
  The year is {today.getFullYear()}.
  <div>
    <a href="#">RSS Feed</a>
    <a
      href="https://github.com/jberglund/jacobberglund.com"
      target="_blank"
      referrerpolicy="no-referrer">View source</a
    >
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
    height: 80vw;
    display: grid;
    align-content: center;
  }
</style>
