---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="u-container header">
  <nav class="u-grid">
    <a class="logo" href="/">{SITE_TITLE}</a>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Writing</HeaderLink>
      <HeaderLink href="/lab">Lab</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>

<style>
  .logo {
    font-weight: 500;
    font-size: var(--step-1);
  }
  .header {
    padding-block: var(--space-l);
  }
  .internal-links {
    display: flex;
    gap: var(--space-m);
  }
</style>
