---
type Props = {
  items: string[];
};
const { items = [] } = Astro.props;
---

<summary>
  <h6 class="takeaways-title">Key takeaways</h6>
  <ul class="takeaways">
    {items.map((item) => <li class="takeaway">{item}</li>)}
  </ul>
</summary>

<style>
  summary {
    display: flex;
    align-items: flex-start;
    grid-column: 2 / -1;
    padding-bottom: var(--space-2xl);
    position: relative;
    @media (--desktop) {
      grid-column: 2 / span 8;
    }
  }

  .takeaways-title {
    font-family: var(--font-monospace);
    color: var(--astro-code-token-comment);
    font-size: var(--step--2);
    font-style: normal;
    font-weight: 700;
    padding-left: var(--space-xs);
    padding-bottom: var(--space-3xs);
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
    opacity: 0.5;
    display: inline-block;
    @media (--small) {
      position: absolute;
      right: 100%;
    }
  }
  .takeaways {
    padding: 0;
    margin: 0;
  }
  .takeaway {
    display: inline;
    margin: 0;
    line-height: 1.25;
    font-size: var(--step--1);
    @media (--small) {
      font-size: var(--step-0);
    }
    /* margin-left: 0.5em; */
  }
  .takeaway:before {
    content: "";
    color: var(--color-primary);
    font-size: var(--step-2);
    margin-right: 0.2em;
    margin-left: 0.4em;
    height: 0.4em;
    width: 0.4em;
    background: currentColor;
    border-radius: 50%;
    display: inline-block;
  }
  .takeaway:nth-child(2):before {
    color: var(--astro-code-token-string-expression);
  }
  .takeaway:nth-child(3):before {
    color: var(--astro-code-token-function);
  }
</style>
