---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { ViewTransitions } from "astro:transitions";
import HueControl from "../components/HueControl.astro";
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="u-container">
      <slot />
    </main>
    <Footer />

    <HueControl />
    <script>
      document.addEventListener(
        "astro:load",
        () => {
          console.log("once");
        },
        { once: true }
      );
    </script>
  </body>
</html>
